<div class="table-container mat-elevation-z8" *ngIf="dataSource">
  <mat-table #table [dataSource]="dataSource" >

    <!-- Checkbox Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>
        Kustuta
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button  mat-icon-button aria-label="delete" color="warn" (click)="remove(row)"
                (mouseenter)="mouseOverRemoveButton(true)" (mouseleave)="mouseOverRemoveButton(false)"
                 matTooltip="Kustuta!"
        >
          <mat-icon aria-label="kustuta">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="Nr">
      <mat-header-cell *matHeaderCellDef> Nr </mat-header-cell>
      <mat-cell *matCellDef="let obj; let i = index;"> {{i+1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nimi </mat-header-cell>
      <mat-cell *matCellDef="let obj"> {{obj.name}} </mat-cell>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Kirjeldus </mat-header-cell>
      <mat-cell *matCellDef="let obj"> {{obj.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="coordinates">
      <mat-header-cell *matHeaderCellDef> Koordinaadid </mat-header-cell>
      <mat-cell *matCellDef="let obj"> {{getCoordinates(obj.coordinates)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closestObject">
      <mat-header-cell *matHeaderCellDef> Lähim Objekt </mat-header-cell>
      <mat-cell *matCellDef="let obj"> {{getClosestObject(obj.closestMarker)}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="rowClicked(row)" [ngClass]="{'active-row': activeRow == row.id}">
    </mat-row>
  </mat-table>
</div>