<mat-toolbar color="default">
    <mat-toolbar-row>
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="markOnMap()"
                    [class.stayActive]="startMarking" [disabled]="unsavedNewMarker()">
                Märgi kaardil
            </button>
            <button mat-raised-button color="primary" (click)="save()"
                    [disabled]="!canSave()">Salvesta
            </button>
            <button mat-raised-button color="warn" (click)="cancel()">Katkesta</button>
        </div>
        <button  mat-icon-button aria-label="arrow_drop_down" color="primary"
                 (click)="toggleForm = !toggleForm"
        >
            <mat-icon aria-label="toggle" *ngIf="!unsavedNewMarker()">{{ (toggleForm) ? 'arrow_drop_up' :  'arrow_drop_down'}}</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="center-container" style="margin-top: 60px;">
    <form class="main-form" [@dropIn]="(unsavedNewMarker() || toggleForm) ? 'open' : 'close'"
          (mouseleave)="toggleForm = false"
    >
        <mat-form-field class="field-full-width" [style.font-size.px]="15">
            <input matInput type="text" placeholder="Koordinaadid"
                   [value]="getCoordinates()"
                   [readonly]="true"
            >
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <input matInput type="text" placeholder="Nimi"
                   [(ngModel)]="mapObject.name"
                   [ngModelOptions]="{standalone: true}"
                   autofocus
                   required>
            <mat-hint *ngIf="isNameExistsAlready()">Selle nimega punkt juba eksisteerib!</mat-hint>
            <mat-error *ngIf="!mapObject.name">
                Nimi lisamine on <strong>kohustuslik</strong>
            </mat-error>

        </mat-form-field>
        <mat-form-field class="field-full-width">
            <textarea matInput type="text" placeholder="Kirjeldus"
                      [(ngModel)]="mapObject.description"
                      [ngModelOptions]="{standalone: true}"
            ></textarea>
        </mat-form-field>

    </form>

    <div class="workspace-container">
        <div class="inline-container map-container" [class.crosshair-enabled]="startMarking">
                <div style="max-width: 100%; flex: auto; margin-top: 10px;">
                    <mat-card>
                        <div leaflet style="height: 600px"
                             [leafletOptions]="options"
                             [leafletZoom]="options.zoom"
                             [leafletCenter]="options.center"
                             (leafletMapReady)="onMapReady($event)"
                        >
                        </div>
                    </mat-card>
                </div>
        </div>
        <div class="inline-container inline-table-container">
            <app-datatable (rowRemoved)="removeMarker($event)"
                           (clickOnRow)="fireClickOnMarker($event)"
                           [activeRow]="activeIconId"
            ></app-datatable>
        </div>
    </div>
</div>
