.center-container {

}

.main-form {
    min-width: 150px;
    max-width: 320px;
    width: 100%;
    border: 1px solid #f5f5f5;
    position: absolute;
    top: 60px;
    z-index: 1999;
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
}

.field-full-width {
    width: 100%
}

.stayActive {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    filter: saturate(1) contrast(0.5) brightness(1.3);
}


.mat-toolbar.mat-default {
    position: fixed;
    top: 0;
    z-index: 2000;
    margin-left: -10px;

}

.workspace-container {
    width: 100%;
    padding: 0 0 0 5px;
}