/* You can add global styles to this file, and also import other style files */
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
.custom-map-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: 115px;
  border-radius: 50%;
  border: 7px solid #000000;
  width: 8px;
  height: 8px;
  margin-top: -12px;
  box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.44); }

.green-icon, .red-icon, .yellow-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -12px !important;
  border-radius: 50%;
  border: 7px solid #30a920;
  width: 8px;
  height: 8px;
  margin-top: -12px;
  box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.44); }

.green-icon::after, .red-icon::after, .yellow-icon::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -29px;
  left: -4px;
  border: 10px solid transparent;
  border-top: 17px solid #30a920; }

.red-icon {
  border: 7px solid #ba2207; }

.red-icon::after {
  border-top: 17px solid #ba2207; }

.yellow-icon {
  border: 7px solid #e5e907; }

.yellow-icon::after {
  border-top: 17px solid #e5e907; }

.inline-container {
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.inline-table-container {
  min-height: 400px; }

.crosshair-enabled .leaflet-container {
  cursor: crosshair !important; }

.mat-hint {
  color: #f5473a; }

@media screen and (min-width: 1100px) {
  .not-active {
    display: none; }

  .map-container {
    max-width: 60%; }

  .inline-table-container {
    max-width: 37%;
    padding: 10px; }
    .inline-table-container .table-container {
      min-width: 400px; }

  .mat-table {
    overflow: auto;
    max-height: 600px; } }

/*# sourceMappingURL=styles.css.map */
